@import '../variables.scss';

.EventCardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventCard {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 24px;
  border-radius: 32px;
  border: 4px solid white;
  box-sizing: border-box;
  box-shadow: $SHADOW;
  opacity: 1;
  transition: $TRANSITION_DURATION transform, $TRANSITION_DURATION height,
    $TRANSITION_DURATION opacity;
  width: 280px;

}

.EventCardActive {
  opacity: 1;
  height: 230px;
}

.EventCardInactive {
  height: 280px;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }
}

.EventCardHide {
  opacity: 0;
}

.EventCardLogo {
  width: 100%;
  border-radius: 6px;
  height: 128px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 16px;
}

.EventCardTitle {
  text-align: center;
}

.EventCardDescription {
  text-align: center;
  transition: $TRANSITION_DURATION opacity;
}

.EventCardDescriptionActive {
  opacity: 0;
}

.EventCardDescriptionInactive {
  opacity: 1;
}
