@import '../variables.scss';

.EventCardContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventCard {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 24px;
  border-radius: 32px;
  border: 4px solid white;
  box-sizing: border-box;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: $TRANSITION_DURATION transform, $TRANSITION_DURATION height,
    $TRANSITION_DURATION opacity;
  max-width: 280px;
  min-width: 230px;
  @media (max-width: $TABLETS) {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 15px;
    }
  }
}

.EventCardActive {
  opacity: 1;
  height: 230px;
}

.EventCardInactive {
  height: 280px;
}

.EventCardHide {
  opacity: 0;
}

.EventCardLogo {
  width: 100%;
  border-radius: 6px;
  height: 128px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 16px;
}

.EventCardTitle {
  text-align: center;
}

.EventCardDescription {
  text-align: center;
  transition: $TRANSITION_DURATION opacity;
}

.EventCardDescriptionActive {
  opacity: 0;
}

.EventCardDescriptionInactive {
  opacity: 1;
}
