@import '../variables.scss';

.HeaderBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-align: center;
  box-shadow: $SHADOW;
  position: relative;
  transition: $TRANSITION_DURATION height;
  h2 {
    margin: 0;
    transition: $TRANSITION_DURATION font-size;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(253, 250, 245, 1);
  }
}

.HeaderBannerLarge {
  height: 120px;
  h2 {
    font-size: 48px;
  }
}

.HeaderBannerSmall {
  height: $HEADER_HEIGHT;
  h2 {
    font-size: 28px;
  }
}
