// Component dimensions
$HEADER_HEIGHT: 60px;

// Screen sizes
$DESKTOPS_XL: 1280px;
$DESKTOPS: 960px;
$TABLETS: 780px;

// Colors
$COLOR1: #f1f6f9;
$COLOR2: #48f3db;
$COLOR4: #394867;
$COLOR3: #14274e;
$COLOR5: #6150c1;

// Misc
$TRANSITION_DURATION: 0.8s;
$SHADOW: 0px 12px 16px rgba(0, 0, 0, 0.3);
