@import '../../variables.scss';

.Sidebar {
  position: absolute;
  z-index: 100;
  top: 146px;
  left: 30px;
  transform: translateY(0px);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 12px;
  border-radius: 8px;
  box-shadow: $SHADOW;
  transition: $TRANSITION_DURATION transform;
  width: 200px;
  a {
    display: block;
    // text-align: center;
    // padding: 6px 24px;
    // border-radius: 24px;
    margin: 12px;
    transition: $TRANSITION_DURATION transform, $TRANSITION_DURATION opacity;
  }

  .EventsMeetingsLink a:last-child {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .EventsMeetingsLink {
    transition: $TRANSITION_DURATION transform;
    * {
      width: 152px;
    }
  }
}

.Sidebarhome {
  .EventsMeetingsLink {
    transform: translateY(0px);
    a:first-child {
      opacity: 1;
    }
    a:last-child {
      opacity: 0;
      pointer-events: none;
    }
  }
  .StudiosLink {
    transform: translateY(0px);
  }
}

.Sidebarevents {
  transform: translateY(260px);
  .EventsMeetingsLink {
    transform: translateY(46px);
    a:first-child {
      opacity: 0;
    }
    a:last-child {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .StudiosLink {
    transform: translateY(-46px);
  }
}
